.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-list {
    margin-top: 31px;
}

.search-box {
    margin-bottom: 20px;
}

.contact-item {
    margin-top: 20px; 
}

.item-contents {
    margin-left: 10px;
}
